
=== .* ===

/run/.*
/tmp/.*
/var/backups/.*
/var/cache/.*
/var/lib/.*
/var/lock/.*
/var/log/.*
/var/mail/.*
/var/opt/.*
/var/run/.*
/var/spool/.*
/var/tmp/.*
/var/db/.*
/var/mail/.*


# よくあるバックアップファイル
/home_bk(/.*)?
/service_bk(/.*)?
/.*\.rpmsave
/.*\.rpmnew
/.*\.bak
/.*\.bk
/.*/([-.\w]+)[-_.]20\d{2}(0[1-9]|1[0-2])(0[1-9]|[12][0-9]|3[01])(\.log|/.*|)
/.*/([-.\w]+)\.20\d{2}(0[1-9]|1[0-2])(0[1-9]|[12][0-9]|3[01])([01][0-9]|2[0-3])[0-5][0-9][0-5][0-9]
/.*/([-.\w]+)-20\d{2}(0[1-9]|1[0-2])(/.*)?

# よくあるOracle Clientのエラーログ
/root/oradiag_[-\w]+(/.*)?
/home/[-\w]+/oradiag_[-\w]+(/.*)?


